<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/navigation.ejs') %>
    <main>
        <section class="container my-5">
            <h1>PAGE 404 NOT FOUND!</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro eos ad saepe error enim sit. Repellat odio dolorum quae tempora suscipit eveniet sint voluptate nulla consectetur culpa, ab non eum deleniti autem? Neque, asperiores! Tempore nulla explicabo earum a fugit, totam veniam nihil quisquam. Ipsum ab nihil reiciendis sit eius, corporis possimus aut dolore earum harum commodi suscipit hic repellendus aliquid maxime laborum eveniet cum quibusdam debitis quos, sequi magnam. A voluptate amet ab. Odio molestiae tempore voluptatem velit corrupti est ad qui molestias neque quae nobis voluptas, nostrum ipsum odit. Nulla cum ad ducimus voluptatum eum voluptatem laboriosam.</p> -->
        </section>
    </main>
    <%- include('./includes/bootstrapBundle.ejs') %>
</body>
</html>