<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./../includes/head.ejs') %>
</head>
<body>
    <%- include('./../includes/navigation.ejs') %>
    <main>
        <section class="container my-5">
            <form action="/admin/add-product" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Book title">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="text" class="form-control" id="image" name="image" placeholder="Book image url">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" name="price" step="1" placeholder="Book price">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" name="description" id="description"rows="5" placeholder="Book Descripton"></textarea>
                </div>
                <button class="d-block ms-auto btn btn-primary" type="submit">Add Product</button>
            </form>
        </section>
    </main>
    <%- include('./../includes/bootstrapBundle.ejs') %>
</body>
</html>